.admin-container{
    max-width: 600px;
    height: 100px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(185, 106, 106, 0.1);
    background-color: #000000;
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .btn-add {
    background: #3f8f3f;
    color: white;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .table-list {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-list th, .table-list td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .btn-edit {
    background-color: #3f6f8f;
    color: white;
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btn-delete {
    background-color: #8f3f3f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .generic-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
  }
  
  .generic-form input {
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 5px;
  }
  
  .btn-save {
    background: #3f8f3f;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .btn-voltar {
    background: #777;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  